{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3>Регистрация пациента</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                            <div class="col-md-6">
                                {{ form.phone.label_tag }}
                                {{ form.phone }}
                            </div>
                        </div>
                        <!-- Остальные поля формы -->
                        <button type="submit" class="btn btn-primary mt-3">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}